

<!DOCTYPE html>
<html>
   <head>
      <title> SENSOR VALUES OF SAMPLE </title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
      <style>
            html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
            .w3-sidebar {
              z-index: 3;
              width: 250px;
              top: 43px;
              bottom: 0;
              height: inherit;
            }
            #wrapper {
  background-color: green; /* for visualization purposes */
  text-align: center;
}
#yourdiv {
  background-color: rgb(94, 91, 91); /* for visualization purposes */
  display: inline-block;
}
            </style>
   </head>
   <body>
    <center></center>
    <div id="wrapper">
      <div id="yourdiv">
      <img src="/static/grocery.jpeg" width="720" hieght="540"></img>
      <h3> ADULTERANT CHECK INTERFACE </h3>
      <br>
      <p id="ph1">The value of ph : </p>
      <p id="ph2"></p>
      <br>
      <p id="temp1">The value of temperature : </p>
      <p id="temp2"></p>
      <br>      
      <p id="moisture1">The value of moisture : </p>
      <p id="moisture2"></p>
      <br>
   </div>
   </div>
</center>

      <script src="/static/getSensor.js"></script>
      <!--<script src="/static/getSensor1.js"></script>
      
      <script>
     
      </script>
      -->

   </body>
</html>


